<% if current_user.id == @event.user_id %>
<h1>Editing event</h1>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
<% else %>
	Your access to this event has been denied click <%= link_to 'here', events_path %> to be redirected.
<% end %>