<h1>Calendar</h1>

<div id='calendar'>
</div>

<style>
	#calendar {
		width: 100%;
		height: 50%;
	}
</style>

<script>
	$(document).ready(function(){
		$('#calendar').fullCalendar({
			weekMode: 'liquid',
			events: '/events'
			//events: <% current_user.user_events %>
			/*events: function(start,end, callback) {
    			$.getJSON('/events.json', function(events){
        			var eventsToShow = [];
        			for(var i=0; i<events.length; i++){
            			if(events[i].user_id == current_user.id){
                			eventsToShow.push(events[i]);
            			}
        			}
        			callback(eventsToShow);
    			});
			}*/
			/*events:{
			url: '/events.json',
			data: { 'user_id' : <% current_user.id %> }
			}*/
		});
	});
</script>

<br>
<%= button_to 'New Event', new_event_path,  :method => :get  %><br>
<%= button_to 'Log out', "/logout",  :method => :get  %>