<h1>Calendar</h1>


<div id='calendar'>
</div>


<style>
	#calendar {
		width: 100%;
		height: 70%;
	}
</style>

<script>
	$(document).ready(function(){
		$('#calendar').fullCalendar({
			weekMode: 'liquid',
			url:'#',
			events:'/events.json'
		});
	});
</script>


<br>
<%= link_to 'New Event', new_event_path %>
