<h1>FullCalendar</h1>


<div id='calendar'>
	<style>
		#calendar {
		width: 50%;
		}
	</style>
</div>



<script>
	$(document).ready(function(){
		console.log(8);
		$('#calendar').fullCalendar({
			editable: true,
			weekMode: 'liquid',
			url:'#',
			events:'/events.json'
		});
		console.log(15);
	});
</script>


<br>
<%= link_to 'New Event', new_event_path %>
