<h1>Calendar</h1>

<div id='calendar'>
</div>

<style>
	#calendar {
		width: 100%;
		height: 50%;
	}
</style>

<script>
	$(document).ready(function(){
		$('#calendar').fullCalendar({
			weekMode: 'liquid',
		});
	});
</script>

<br>
<%= button_to 'New Event', new_event_path,  :method => :get  %><br>
<%= button_to 'Log out', "/logout",  :method => :get  %>